{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	{# {{ component('Atoms:Button') }} #}
	<h1 class="text-2xl text-blue-500">
		Tailwind fonctionne
	</h1>

</ul></div>{% endblock %}
