{
	frankenphp
	admin off
	skip_install_trust
	auto_https off
	default_bind tcp/0.0.0.0 tcp/[::]
	servers {
		trusted_proxies static 0.0.0.0/0
	}
}

:{$PORT:80} {
	root * /app/public
	encode zstd br gzip

	log {
		output stdout
		format console
		level info
	}

	php_server
}
