<a
  href="{{ href }}"
  {% if external %}
    target="_blank"
    rel="noopener noreferrer"
  {% endif %}
  {% if ariaLabel %}
    aria-label="{{ ariaLabel }}"
  {% endif %}
  {{ attributes.defaults({ class: 'inline-flex items-center' }) }}
>
  {% block content %}{% endblock %}
</a>