<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
		  <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="text-base">
	{% set currentPath = app.request.pathinfo %}

<twig:Organisms:HeaderNav
  brandLabel="Samy Dessert"
  brandHref="/"
  logoSrc="/logotest.svg"
  logoAlt="Samy Dessert"
>
  <twig:block name="actions">
    <twig:Atoms:Link href="/panier">Panier</twig:Atoms:Link>
    <twig:Atoms:Link href="/connexion">Se connecter</twig:Atoms:Link>
  </twig:block>
</twig:Organisms:HeaderNav>

		
		{% block body %}{% endblock %}
	</body>
</html>
